@import "null.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");

/* universal selectors */

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background: #f5f5f5;
  line-height: 1;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #4b4b4b;
}

[class*="__container"] {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 15px;
}

/* reusable selectors */

/* other selectors */
.appointment {
  background: url("../img/index/appointment/vector/bg.jpg") 50% center / cover no-repeat;
}
.appointment__container {
  padding: 130px 0 210px 0;
}
.appointment__box {
}
.appointment__form {
}
.form-appointment {
  padding: 76px 56.5px;
  max-width: 585px;
  background: #5d62b5;
  border-radius: 40px;
}
.form-appointment__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #ffffff;
  border: 1px solid #959595;
  padding-bottom: 5px;
}

.form-appointment__title:not(:last-child) {
  margin-bottom: 43px;
}

.form-appointment__input-box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 22px;
  margin: 0 -11.22px;
}

.form-appointment__input-box:not(:last-child) {
  margin-bottom: 22px;
}
.box-input {
  padding: 0 11.22px;
  flex: 1 1 50%;
  min-width: 224px;
  display: flex;
}
.box-input__input {
  flex: 1 1 auto;
  height: 100%;
  border: 2px solid #959595;
  border-radius: 10px;
  padding: 17px 23.56px 15px;
  background: #5d62b5;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #fff;
}

.form-appointment__textarea:hover::placeholder,
.box-input:hover .box-input__input::placeholder {
  transform: translate(-100%, -150%);
}

.form-appointment__textarea:focus::placeholder,
.box-input__input:focus::placeholder {
  transform: translate(-100%, -150%);
}

.form-appointment__textarea::placeholder,
.box-input__input::placeholder {
  letter-spacing: 1.5px;
  color: #ffffff;
  transition: all 1s ease 0s;
}

.form-appointment__textarea {
  display: block;
  width: 100%;
  min-height: 180px;
  padding: 17px 23px;
  resize: vertical;
  border-radius: 10px;
  border: 2px solid #959595;
  background: #5d62b5;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #fff;
}

.form-appointment__textarea:not(:last-child) {
  margin-bottom: 30px;
}

.form-appointment__button {
  display: flex;
  justify-content: end;
}
.button {
}

.button__body {
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 2px;
  background: #f2726f;
  border-radius: 8px;
  padding: 9px 32px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.button:hover .button__body {
  background: #dc7270;
  letter-spacing: 1px;
}

/*                   */


