@import "null.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");

/* universal selectors */

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background: #f5f5f5;
  line-height: 1;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #4b4b4b;
}

[class*="__container"] {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 15px;
}

/* reusable selectors */

/* other selectors */
.appointment {
  background: url("../img/index/appointment/vector/bg.jpg");
}
.appointment__container {
  padding: 130px 0 210px 0;
}
.appointment__box {
}
.appointment__form {
}
.form-appointment {
  padding: 76px 56.5px;
  max-width: 585px;
  background: #5d62b5;
  border-radius: 40px;
}
.form-appointment__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #ffffff;
  border: 1px solid #959595;
  padding-bottom: 5px;
}

.form-appointment__title:not(:last-child) {
  margin-bottom: 43px;
}

.form-appointment__input-box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 22px;
  margin: 0 -11.22px;
}

.form-appointment__input-box:not(:last-child) {
  margin-bottom: 22px;
}
.box-input {
  padding: 0 11.22px;
  flex: 1 1 50%;
  min-width: 224px;
  display: flex;
}
.box-input__input {
  flex: 1 1 auto;
  height: 100%;
  border: 2px solid #959595;
  border-radius: 10px;
  padding: 17px 23.56px 15px;
  background: #5d62b5;
}

.box-input__input::placeholder {
  letter-spacing: 1.5;
  color: #ffffff;
}

.form-appointment__textarea {
  display: block;
  width: 100%;
  min-height: 180px;
  padding: 17px 23px;
}
.form-appointment__button {
}
.button {
}
.button__body {
}

/*                   */
